<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Imperium</title>
    <!-- Your styles here -->
</head>
<body>
    <h1>Imperium Stats Playing as Romans</h1>
    <button onclick="window.location.href='/'">Back to Home</button>

    <table style="border-collapse: separate; border-spacing: 20px 0;">
    <table>
	<tr>
            <th style="padding: 10px; text-align: left;"></th>
            <th style="padding: 10px; text-align: left;">Times Lost</th>
            <th style="padding: 10px; text-align: left;">Times Won</th>
	</tr>
	<tr>
            <th style="padding: 10px; text-align: left;"></th>
	</tr>
	<tr>
            <th style="padding: 10px; text-align: left;">Classics</th>
	</tr>
	<tr>
            <td style="padding: 10px; ">Carthaginians &#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{carthag_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{carthag_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Celts &#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{celts_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{celts_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Greeks &#9733&#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{greek_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{greek_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Macedonians &#9733 </td>
            <td style="padding: 10px; text-align: right;">{{mace_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{mace_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Persians &#9733 </td>
            <td style="padding: 10px; text-align: right;">{{persian_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{persian_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Scythians &#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{scy_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{scy_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Vikings &#9733&#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{vik_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{vik_won}}</td>
	</tr>
	<tr>
            <th style="padding: 10px; text-align: left;"></th>
	</tr>
	<tr>
            <th style="padding: 10px; text-align: left;">Legends</th>
	</tr>
	<tr>
            <td style="padding: 10px; ">Arthurians &#9733&#9733&#9733&#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{aksu_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{aksu_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Atlanteans &#9733&#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{atlant_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{atlant_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Egyptians &#9733&#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{egyp_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{egyp_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Mauryans &#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{mau_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{mau_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Minoans &#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{min_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{min_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Olmecs &#9733&#9733&#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{olm_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{olm_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Qin &#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{qin_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{qin_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Utopians &#9733&#9733&#9733&#9733&#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{uto_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{uto_won}}</td>
	</tr>
	<tr>
            <th style="padding: 10px; text-align: left;"></th>
	</tr>
	<tr>
            <th style="padding: 10px; text-align: left;">Horizons</th>
	</tr>
            <td style="padding: 10px; ">Abbasids &#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{abba_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{abba_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Aksumites &#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{aksu_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{aksu_won}}</td>
	</tr>
	<tr>
            <td style="padding: 10px; ">Cultists &#9733&#9733&#9733&#9733&#9733&#9733 </td>
            <td style="padding: 10px; text-align: right;">{{cult_lost}}</td>
            <td style="padding: 10px; text-align: right;">{{cult_won}}</td>
	</tr>
    </table>
</body>
</html>

